@use "variables";

button {
	background-color: variables.$primary-color;
	color: white;
	border-radius: 1.5rem;
	border-color: transparent;
	cursor: pointer;
}

.navbar__button {
	padding: 0.5rem 2rem;
}

.start {
	padding: 1rem 4rem;
	text-transform: uppercase;
}

.cta {
	font-size: 1.5rem;
	padding: 1rem 2rem;
}

.submit {
	border-radius: 5%;
	padding: 1rem 3rem;
	margin: 2rem 0;
}
