@use 'variables';

.header {
	max-height: 4rem;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 10;
	top: 0%;
	background-color: white;
}

.header__content {
	display: flex;
	flex-direction: row;
	max-width: variables.$default-max-width;
	width: 100%;
	padding: 1rem 2rem;
}

.header-logo {
	flex-shrink: 0;
}

.header-navbar {
	display: none;
}

@media only screen and (min-width: 768px) {
	.header-navbar {
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}

	.header-navbar__list {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		padding: 0;
		margin: 0;
	}

	.header-navbar__item {
		margin: 0 1rem;
		list-style-type: none;
	}

	.header-navbar__link {
		color: black;
		font-weight: 500;
		text-decoration: none;
	}
}
