.card-container {
	max-width: 80rem;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	gap: 1px;
	padding: 1px;
	background-color: gray;
}

@media only screen and (min-width: 768px) {
	.card-container {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}
